In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pickle

In [16]:
df = pd.read_csv("Dataset of Diabetes .csv")
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [39]:
df.dtypes

ID             int64
No_Pation      int64
Gender        object
AGE            int64
Urea         float64
Cr             int64
HbA1c        float64
Chol         float64
TG           float64
HDL          float64
LDL          float64
VLDL         float64
BMI          float64
CLASS         object
dtype: object

In [40]:
df.columns

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [17]:
temp=[]
for x,y in enumerate(df['CLASS']):
    if (y=='N' or  y=='N '):
        temp.append(0)
    elif (y=='P'):
        temp.append(1)
    else:
        temp.append(2)
df['type']=temp

In [18]:
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS,type
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N,0
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N,0
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N,0
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N,0
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y,2
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y,2
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y,2
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y,2
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y,2

In [19]:
df['type'].unique()

array([0, 1, 2], dtype=int64)

In [20]:
df=df.drop(['HDL','VLDL','LDL'],axis =1)

In [21]:
df=df.drop(['CLASS','No_Pation','ID'],axis=1)

In [45]:
df.dtypes

Gender     object
AGE         int64
Urea      float64
Cr          int64
HbA1c     float64
Chol      float64
TG        float64
BMI       float64
type        int64
dtype: object

In [22]:
label_encoder = LabelEncoder()

# Fit and transform the 'Color' column using the LabelEncoder
df['gender'] = label_encoder.fit_transform(df['Gender'])
result_row = df.loc[df['gender'] == 2]
print(result_row)

    Gender  AGE  Urea  Cr  HbA1c  Chol   TG   BMI  type  gender
991      f   55   4.1  34   13.9   5.4  1.6  33.0     2       2

In [7]:
df=df.drop('Gender',axis=1)

In [48]:
df

     AGE  Urea  Cr  HbA1c  Chol   TG   BMI  type  gender
0     50   4.7  46    4.9   4.2  0.9  24.0     0       0
1     26   4.5  62    4.9   3.7  1.4  23.0     0       1
2     50   4.7  46    4.9   4.2  0.9  24.0     0       0
3     50   4.7  46    4.9   4.2  0.9  24.0     0       0
4     33   7.1  46    4.9   4.9  1.0  21.0     0       1
..   ...   ...  ..    ...   ...  ...   ...   ...     ...
995   71  11.0  97    7.0   7.5  1.7  30.0     2       1
996   31   3.0  60   12.3   4.1  2.2  37.2     2       1
997   30   7.1  81    6.7   4.1  1.1  27.4     2       1
998   38   5.8  59    6.7   5.3  2.0  40.5     2       1
999   54   5.0  67    6.9   3.8  1.7  33.0     2       1

[1000 rows x 9 columns]

In [49]:
X=df.drop('type',axis=1)
y=df['type']

In [14]:
df['gender'].max()

2

In [13]:
for z in df :
    print(f'Maximum value of column {z} is : ({df[z].max()}) and minimum value is : ({df[z].min()}) so range is ({df[z].min()},{df[z].max()})')

Maximum value of column AGE is : (79) and minimum value is : (20) so range is (20,79)
Maximum value of column Urea is : (38.9) and minimum value is : (0.5) so range is (0.5,38.9)
Maximum value of column Cr is : (800) and minimum value is : (6) so range is (6,800)
Maximum value of column HbA1c is : (16.0) and minimum value is : (0.9) so range is (0.9,16.0)
Maximum value of column Chol is : (10.3) and minimum value is : (0.0) so range is (0.0,10.3)
Maximum value of column TG is : (13.8) and minimum value is : (0.3) so range is (0.3,13.8)
Maximum value of column BMI is : (47.75) and minimum value is : (19.0) so range is (19.0,47.75)
Maximum value of column type is : (2) and minimum value is : (0) so range is (0,2)
Maximum value of column gender is : (2) and minimum value is : (0) so range is (0,2)

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [59]:
X_test

     AGE  Urea   Cr  HbA1c  Chol   TG   BMI  gender
521   54  11.3  130    7.7   6.3  5.4  33.0       0
737   58   2.7   39   10.1   6.3  2.4  30.0       0
740   52   4.7   34    9.9   5.1  4.5  26.0       0
660   54   3.7   38   11.6   4.7  4.0  38.0       0
411   55   3.0   41    4.3   4.6  0.7  37.0       0
..   ...   ...  ...    ...   ...  ...   ...     ...
408   63   2.4   66    7.4   7.1  4.1  38.0       0
332   61   3.3   31    7.2   5.8  2.6  36.0       0
208   57   4.6  370    6.8   4.0  6.0  37.0       1
613   55   4.9   63    3.7   6.1  1.6  34.0       0
78    30   3.6   61    5.4   6.5  1.8  24.0       0

[200 rows x 8 columns]

In [60]:
df[df['TG']==5.4]

     AGE  Urea   Cr  HbA1c  Chol   TG   BMI  type  gender
521   54  11.3  130    7.7   6.3  5.4  33.0     2       0

In [51]:
clf = DecisionTreeClassifier()

# Fit the classifier to the training data
clf.fit(X_train, y_train)

# Make predictions on the test data
y_pred = clf.predict(X_test)

In [52]:
accuracy = accuracy_score(y_test, y_pred)
confusion_mat = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{confusion_mat}")
print(f"Classification Report:\n{classification_rep}")

Accuracy: 0.985
Confusion Matrix:
[[ 19   0   2]
 [  0   6   0]
 [  0   1 172]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.90      0.95        21
           1       0.86      1.00      0.92         6
           2       0.99      0.99      0.99       173

    accuracy                           0.98       200
   macro avg       0.95      0.97      0.95       200
weighted avg       0.99      0.98      0.98       200

In [53]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the classifier to the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf_classifier.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

confusion_mat = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{confusion_mat}")
print(f"Classification Report:\n{classification_rep}")

Accuracy: 0.995
Confusion Matrix:
[[ 21   0   0]
 [  0   6   0]
 [  1   0 172]]
Classification Report:
              precision    recall  f1-score   support

           0       0.95      1.00      0.98        21
           1       1.00      1.00      1.00         6
           2       1.00      0.99      1.00       173

    accuracy                           0.99       200
   macro avg       0.98      1.00      0.99       200
weighted avg       1.00      0.99      1.00       200

In [54]:
model_filename = 'diabetes_dataset.pkl'
with open(model_filename, 'wb') as file:
    pickle.dump(rf_classifier, file)

In [33]:
num_folds = 5
cv_scores = cross_val_score(clf, X, y, cv=num_folds)

# Print the cross-validation scores for each fold
print("Cross-validation scores:", cv_scores)

# Calculate and print the mean and standard deviation of the cross-validation scores
mean_cv_score = np.mean(cv_scores)
std_cv_score = np.std(cv_scores)
print("Mean Cross-validation score:", mean_cv_score)
print("Standard Deviation of Cross-validation scores:", std_cv_score)

Cross-validation scores: [0.83  0.99  0.99  0.995 0.965]
Mean Cross-validation score: 0.954
Standard Deviation of Cross-validation scores: 0.06288083968904996

In [34]:
# Create the SVM classifier
svm_classifier = SVC(kernel='linear', C=1.0, random_state=42)

# Train the SVM classifier on the training data
svm_classifier.fit(X_train, y_train)

# Predict the labels for the test data
y_pred = svm_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
confusion_mat = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

# Print the results
print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{confusion_mat}")
print(f"Classification Report:\n{classification_rep}")

Accuracy: 0.94
Confusion Matrix:
[[ 19   0   2]
 [  0   3   3]
 [  7   0 166]]
Classification Report:
              precision    recall  f1-score   support

           0       0.73      0.90      0.81        21
           1       1.00      0.50      0.67         6
           2       0.97      0.96      0.97       173

    accuracy                           0.94       200
   macro avg       0.90      0.79      0.81       200
weighted avg       0.95      0.94      0.94       200